:root {
	--color-palette1: #b4d7d4;
	--color-palette2: #310147;
	--color-palette3: #6d8008;
	--color-palette4: #fbcc38;
	--color-palette5: #f5880d;
	/*font-family: 'Libre Baskerville', serif;*/
	/*font-family: 'Heebo', sans-serif;*/
	
	
}
body {
	font-family: Verdana, sans-serif;
	max-width: 1000px;
	margin:auto;
}

nav {
	width: 100%;
	position: relative;
	top: 0;
	max-width: 1290px;
	text-align: center;
	z-index: 40;
	/*margin: auto;*/
	/*max-height: 30px;*/
	background-color: var(--color-palette2);
	align-content: center;
	/*padding-right: 30px;*/
	display: flex;
	/*color: #00f;*/
	border-radius: 4px;
}
nav ul {
	width: 80%;
	margin: 0 auto;
	max-width: 1100px;
	text-align: center;
	text-decoration: none;
	background-color: var(--color-palette2);
	 /*#36454F*/
	display: inline-block;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	color: #000;
	align-content: space-around;
	padding: 5px;
}
nav ul li {
	list-style-type: none;
	margin:auto;
}
nav ul li a {
	padding: 7px;
	display: block;
}
nav ul li a:link {
	text-decoration: none;
	color: #0f0;
}
nav ul li a:visited {
	text-decoration: none;
	color: #d3d3d3;
	/*text-decoration: line-through;*/
}
nav ul li a:hover {
	background-color: #fff;
	color: black;
}

header {
	max-width: 1290px;
	margin:auto;
	position: relative;
	top: 1px;
}
#mainContent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-large;
	font-weight: bold;
	color: #fff;
	background-color: #E3F0FB;
	border-radius: 4px;
	padding: 10px;
	text-align: center;
	background-image: url("http://www.trbimg.com/img-5660b268/turbine/ct-best-places-to-travel-in-2016-20151202");
	max-width: 1290px;
	margin:auto;
}
.buttonStyle {
	border-radius: 4px;
	/*border: thin solid #F0E020;*/
	/*padding: 5px;*/
	background-color: #F8F094;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	color: #663300;
	width: 75px;
}
.buttonStyle:hover {
	border: thin solid #FFCC00;
	background-color: #000;
	color: #FFF;
	cursor: pointer;
}
.buttonStyle:active {
	border: thin solid #99CC00;
	background-color: #F5FFD2;
	color: #669900;
	cursor: pointer;
}
/** {*/
/*	box-sizing: border-box*/
/*}*/

.mySlides {
	display: none
}
/* Slideshow container */

.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}
/* Caption text */

.slidetext {
	color: #000;
	font-size: 15px;
    padding: 8px 12px;
	position: relative;
	bottom: 8px;
	/*width: 100%;*/
	max-width: 1000px;
	text-align: center;
	margin: auto;
}
/* Number text (1/3 etc) */

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
/* The dots/bullets/indicators */

.dot {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	
}
.active {
	background-color: #717171;
}
/* Fading animation */

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}
@keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}
/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
	.text {
		font-size: 11px
	}
}